[core]
	excludesfile = ~/.gitignore
	editor = /usr/bin/sublime_text

[user]
	name = Dym Sohin
	email = re@dym.sh

[push]
	default = matching

[credential]
	helper = cache --timeout 3600

[diff]
	tool = /usr/bin/sublime_merge
[difftool]
	prompt = false

[init]
	defaultBranch = latest
[pull]
	rebase = true

